//- ===============================================================================================
	File Name: base.jade
	Description: A base file for all templates, each template will inherit base template blocks 
				 to append the content.
	----------------------------------------------------------------------------------------------
	Item Name: Stack - Responsive Admin Template
	Version: 1.1
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	================================================================================================ -//


- var menuFlipped        = false			//-Default menu left aligned
- var boxedLayout        = false			//-Default boxedLayout is false
- var isContentMenu      = false			//- Default isContentMenu is false
- var navbarFixed        = true			//- OPTIONS:- true, false
- var contentLayout      = "2-columns"	//- Default contentLayout is 2-columns
- var pageClass			 = ''
- var logoType           = 'dark'		//- Default dark.
- var menuOpen           = "click"			//- OPTIONS: click, hover
- var navbarHideOnScroll = false
- var footerHideOnScroll = false
- var blankPage          = false
- var bodyCustom         = ''
- var starterKit         = false


include includes/mixins


//-Template name class to support tamplates specific scss
block templateConfig
block pageConfig
block verticalMenuConfig
block horizontalMenuConfig


doctype html
html(lang="en" class="loading" data-textdirection=useDirection)
	head
		block meta
			include includes/head.jade
		block styles
			if starterKit == false
				include includes/styles.jade
			else
				include includes/sk-styles.jade
	body(class="#{templateCustom} #{contentLayout} #{pageClass} #{bodyCustom}", class=(menuFlipped == true ? 'menu-flipped' : ''), class=(menuCollapsed == true ? 'menu-collapsed' : 'menu-expanded'), class=(boxedLayout == true ? 'container boxed-layout' : ''), class=(blankPage == true ? 'blank-page' : ''), class=(navbarFixed == true ? 'fixed-navbar' : ''), class=(blankPage == true ? 'blank-page' : '') , data-open=menuOpen, data-menu=dataMenu, data-col=contentLayout)


		//- Show header, footer & menu if blank page equaks to false
		if blankPage != true

			//- START HEADER
			= '\n'
			block header
			= '\n'
			//-  END HEADER

		// ////////////////////////////////////////////////////////////////////////////
		//- START CONTAINER

		//-Call page layouts mixins
		+pageLayouts(contentLayout, sidebarSticky, sidebarFixed, isContentMenu)

		//- END CONTAINER

		// ////////////////////////////////////////////////////////////////////////////
		= '\n'

		if blankPage != true
			//- START FOOTER
			= '\n'
			block footer
			= '\n'
			//- END FOOTER

		block scripts
			if starterKit == false
				include includes/scripts.jade
			else
				include includes/sk-scripts.jade